DB_HOST=
DB_USER=
DB_PASSWORD=
DB_NAME=menumaster
DB_PORT=3306
PORT=4000
JWT_SECRET=menumaster_jwt_secret_2024
CLOUDINARY_CLOUD_NAME=el_que_copiaste
CLOUDINARY_API_KEY=el_que_copiaste
CLOUDINARY_API_SECRET=el_que_copiaste
